.social {
    width: 100%;
    height: 148px;
    background: linear-gradient(0deg, rgba(25, 25, 25, 0.75), rgba(0, 0, 0, 1));
    background-blend-mode: darken, normal;
    color: white;
    font-size: x-large;
}